#myNameIs{
  margin-top: 15px;
  margin-right: 220px;
    margin left: 220px;
    text-align:Center;
  border-radius: 20px;
  
  padding: 15px;
}

#smile{
  Height: 50px; width: 50px;
    float: right;
}
#profile{
}
