body{
  font: 15px times; 
  text-align: center;
}

#myNameIs{font: 46px;
    font-weight: bold;
    text-align:Center;
  border-radius: 20px;
  padding: 15px;
}

#smile{
    float: left;
}
#profile{
}
h1{
