head{display: flex;
}
body{
  background:FILE_000.jpeg;
  font: 15px times; 
  text-align: center;
  Margin-left: 30%;
  margin-right: 30%;
  flex-wrap: wrap;
}

#myNameIs{font: 72px;
    font-weight: bold;
  border-radius: 20px;
  padding: 15px;
}

#smile{
    float: right;
  heigh: 300px;
}
#profile{
}

  #bold{ 
    font-weight: bold;
    font: 16px
  }
  
  #Header{ 
    font: 26px;
    font-weight: Bold
  }

  #content{ 
    text-align: left;
    margin: 16px
      
}

#date{ float: Right;
}

h1{ border-bottom: solid #000000;}

h2{ border-bottom: solid #000000;}
